<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 274 274" enable-background="new 0 0 274 274" xml:space="preserve">
<g>
	<rect x="63" y="81" fill="#EDA2B3" width="15" height="14"/>
	<rect x="196" y="81" fill="#EDA2B3" width="15" height="14"/>
	<path fill="#EDA2B3" d="M137,0C61.3,0,0,61.3,0,137s61.3,137,137,137s137-61.3,137-137S212.7,0,137,0z M218,218h-7v-7h-15v7H78v-7
		H63v7h-7V56h7v7h15v-7h118v7h15v-7h7V218z"/>
	<rect x="92" y="75" fill="#EDA2B3" width="90" height="51"/>
	<rect x="92" y="148" fill="#EDA2B3" width="90" height="51"/>
	<rect x="196" y="178" fill="#EDA2B3" width="15" height="15"/>
	<rect x="196" y="146" fill="#EDA2B3" width="15" height="14"/>
	<rect x="196" y="113" fill="#EDA2B3" width="15" height="15"/>
	<rect x="63" y="113" fill="#EDA2B3" width="15" height="15"/>
	<rect x="63" y="146" fill="#EDA2B3" width="15" height="14"/>
	<rect x="63" y="178" fill="#EDA2B3" width="15" height="15"/>
</g>
</svg>
