<section>


	<div class="biography">

		
		
		<div class="about">
			
			<h3 id="aboutme">csobre mim</h3>
			
			<div class="profile-img"></div>
			
			
			<div class="text">
				
				<p><strong>Olá, meu nome é Ana Ragazzi,</strong> sou uma paulistana de 23 anos que sempre amou desenhar e criar coisas novas, mesmo quando ainda não sabia o significado da palavra design. Quando era pequena costumava passar horas na frente do computador editando fotos dos meus artistas favoritos no Photoshop e desenvolvendo blogs no FrontPage. 
				<br>Hoje sou formada em Design Gráfico pela Universidade Presbiteriana Mackenzie e sei que não poderia ter feito escolha melhor. Amo a forma como o design abrange diversas opções tão diferentes. Já trabalhei na área gráfica e digital e sei que sempre posso aprender mais.
				<br>Meus hobbies favoritos são ler, assistir filmes, desenhar e viajar, tudo isso tomando uma ótima xícara de chá. Espero que goste do meu trabalho, Obrigada.
				</p>
			</div>
			
			
			<div class="fave-icon">
			
				<div class="icons">{% include/icons/fave-icons/books.html%}</div>
				<div class="icons">{% include/icons/fave-icons/movies.html%}</div>
				<div class="icons">{% include/icons/fave-icons/arts.html%}</div>
				<div class="icons">{% include/icons/fave-icons/travel.html%}</div>
				<div class="icons">{% include/icons/fave-icons/tea.html%}</div>
			
			</div>
				
				
		</div>
	</div>


</section>