<section class="curriculum">

	<h3 id="curriculum">currículo</h3>
	
	<h4>experiências</h4>
	
	<div class="experiences">
		
		<div class="work">
			<div class="icon-img">
				{% include/icons/curriculum/biwa.html%}
			</div>
			
			<h6>Biwa Brasil</h6>
			
			<p>Fotografia<br>
			Web Design<br>
			Newsletter</p>
			
			<a class="text" id="biwa">{% include/icons/curriculum/plus.html%}</a>
		
		</div>	
		
		<div class="work">
			<div class="icon-img">
				{% include/icons/curriculum/marshmallowpie.html%}
			</div>
			
			<h6>Marshmallow Pie</h6>
			
			<p>Identitade Visual<br>
			Design de produto<br>
			Pintura Digital</p>
			
			<a class="text" id="marshmallow">{% include/icons/curriculum/plus.html%}</a>
		
		</div>
		
		<div class="work">
			<div class="icon-img">
				{% include/icons/curriculum/cappuccino.html%}
			</div>
			
			<h6>Cappuccino Digital</h6>
			
			<p>Mídia Social<br>
			Retoque de imagem<br>
			Ilustração</p>
			
			<a class="text" id="cappuccino">{% include/icons/curriculum/plus.html%}</a>
		
		</div>
		<div id="biwacontent" class="textcontent">
			A Biwa Brasil é uma importadora de joias. Lá foi onde eu estagiei pela primeira vez e tive a oportunidade de trabalhar como designer. Era responsável por fotografar joias e tratar as imagens. Também criava toda semana Newsletters e uma vez por mês anúncios em mídias impressas. 
		</div>
		<div id="marshmallowcontent" class="textcontent">
			Com o objetivo de colocar em prática o que eu havia aprendido na faculdade, criei a Marshmallow Pie: uma loja online onde eu vendia canecas totalmente personalizadas por mim. Foi uma experiência muito boa porque eu era responsável desde o desenvolvimento da marca e das canecas até o contato com os clientes.
		</div>
		<div id="cappuccinocontent" class="textcontent">
			A Cappuccino é uma agência de comunicação digital onde eu tive a oportunidade de trabalhar como Diretora de Arte pela primeira vez e com mídia social como foco principal. Lá eu era responsável por criar anúncios diários para marcas como Ajinomoto, Boehringer, AMD, Tirolez, entre outras.
		
		</div>
	
	</div>
	
	
	<h4>educação</h4>
	
	<div class="educacaobox">
		<div id="coluna-1" class="text">
		
			<p>Curso de Photoshop Avançado no SENAC</p><p2>2008</p2>
			
			<br><br><br>
			<p>Curso de inglês na<br> Cultura Inglesa</p> <p2>2007-2010</p2>
		
		</div>
		
		<div id="coluna-2" class="coluna-2">
			
			{% include/icons/curriculum/studies.html%}
		
		</div>
		
		<div id="coluna-3" class="text">
		
			<p>Graduação em Design Gráfico na Universidade Presb. Mackenzie
			</p><p2>2011-2015</p2>
			<br><br>
			<p>Curso de inglês na English Experience Edimburgo/UK
			</p><p2>2015</p2>
			
		</div>
		
	</div>
	
	
	<h4>línguas</h4>
	
	<div class="languagesbox">
		
		<div class="languages">
			<div class="icon">
				{% include/icons/curriculum/portuguese.html%}
			</div>
			
			<div class="text-1">
			
				Português<br>Nativo
				
			</div>
				
		</div>
		<div class="languages">
			<div class="icon">
			
				{% include/icons/curriculum/english.html%}
			
			</div>
			
			<div class="text-2">
				Inglês<br>Fluente
			
			</div>
			
		</div>
	
	</div>
	
	<h4>curriculum</h4>
	
	<div class="botton-download">
		
		<a href="/cv-2016-portugues.pdf" target="_blank">{% include/icons/curriculum/curriculumdown.html%}</a>
	
	</div>
	

</section>