<section class="menu">


	
	
	<div class="box">
		
		<div class="menu">
			<a href="#aboutme">{% include/icons/menu-icons/biography.html%}</a>
		</div>
		
		<div class="menu">
			<a href="#skills">{% include/icons/menu-icons/skills.html%}</a>
		</div>
		
		<div class="menu">
			<a href="#works1">{% include/icons/menu-icons/works-2.html%}</a>
		</div>	
		
		<div class="menu">
			<a href="#curriculum">{% include/icons/menu-icons/curriculum.html%}</a>
		</div>
		
		<div class="menu">	
			<a href="#contact">{% include/icons/menu-icons/contact.html%}</a>
		</div>		
	
	</div>

</section>