<section>


	<div class="skill-area">
	
		<h3 id="skills">habilidades</h3>

			<div class="wraper">
				<div class="skillst9">
					<div class="skillbar" data-percent="95%">
						<div class="count-bar"></div>
						<div class="title">Photoshop</div>
						<div class="count"></div>
					</div>
					<div class="skillbar" data-percent="86%">
						<div class="title">Illustrator</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="81%">
						<div class="title">Indesign</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="67%">
						<div class="title">After Effects</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="70%">
						<div class="title">Final Cut</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
				</div>	
		
				<div class="skillst9">
					<div class="skillbar" data-percent="80%">
						<div class="title">HTML</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="83%">
						<div class="title">CSS</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="72%">
						<div class="title">JavaScript</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
						<div class="skillbar" data-percent="95%">
						<div class="title">MAC 0X</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="95%">
						<div class="title">Windows</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
				</div>
	</div>



</section>