<section>


	<div class="skill-area">
	
		<h3 id="skills">Skills</h3>

			<div class="wraper">
				<div class="skillst9">
					<div class="skillbar" data-percent="95%">
						<div class="count-bar"></div>
						<div class="title">Photoshop</div>
						<div class="count"></div>
					</div>
					<div class="skillbar" data-percent="86%">
						<div class="title">Illustrator</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="81%">
						<div class="title">Indesign</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="90%">
						<div class="title">Lightroom</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="85%">
						<div class="title">Dreamweaver</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
				</div>	
		
				<div class="skillst9">
					<div class="skillbar" data-percent="77%">
						<div class="title">Final Cut</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="86%">
						<div class="title">HTML</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="83%">
						<div class="title">CSS</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
						<div class="skillbar" data-percent="72%">
						<div class="title">JavaScript</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
					<div class="skillbar" data-percent="77%">
						<div class="title">Flash</div>
						<div class="count"></div>
						<div class="count-bar"></div>
					</div>
				</div>
	</div>



</section>