<section class="alt-section section-work">

	<h3 id="works1">Works</h3>
	
	
	<div class="work-belt">
	
		<div class="thumb-wrap">
			<div class="thumb-container">
			{% for x in site.data.listas.work %}	
				<a href="#work-title" class="thumb-unit" data-folder="{{x.folder}}" style="background-image: url(/assets/img/work/{{x.folder}}/thumb.jpg);">
					<div class="thumb-overlay">
						<span>{{ x.name }}</span>					
					</div>
				</a>
			{% endfor %}
		</div>
		</div>
		
			<div class="work-wrap">
				<div class="work-container">
					<div class="work-return2"><a href="#works1">{% include icons/back.html %}</a></div>
					<h4  class="project-title">personal identity</h4>
					<div class="project-load"></div>
					<div class="work-return"><a href="#works1">{% include icons/back.html %}</a></div>
				</div>
			</div>
	</div>
	
</section>

