.alt-section
	background: #f9f9f9
	
a
	color: #8baa6b
	transition: all
		duration: 0.6s
	
a:hover
	color: #4d4d4d
	
h3
	padding-top: 60px
	padding-bottom: 30px
	color: #acd287
	letter-spacing: 1px
	text:
		transform: uppercase
		align: center
		
	font:
		size: 21px
		family: 'Lato', sans-serif
		weight: 300

.section-work
	overflow: hidden
	
.work-belt
	width: 200%
	position: relative
	left: 0%
	transition: all
		duration: 0.5s

.thumb-wrap, .work-wrap	
	width: 50%
	height: 100%
	float: left

	.thumb-container
		margin: 0px auto
		max-width: 700px
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		padding-bottom: 20px

		.thumb-unit
			background-size: cover
			margin: auto 7px 40px 7px
			width: 190px
			height: 190px
			border-radius: 150px
			cursor: pointer
			text-align: center
			box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.5) inset
			transition:
				duration: 0.2s
				timing-function: linear
					
			.thumb-overlay
				cursor: pointer
				width: 160px
				height: 160px
				border-radius: 150px
				opacity: 0
				text-align: center
				display: inline-block
				margin-top: 15px
				
				transition:
					duration: 0.3s
					timing-function: linear
					
				transition: all .3s ease-in-out
				transform: scale(0.5)
			
				span
					text:
						transform: uppercase
						align: center					
					font:
						size: 16px
						family: 'Lato', sans-serif
						weight: 400
					line-height: 1
					color: rgba(255, 255, 255, 0.7)
					display: inline-block
					padding: 42% 0
					letter-spacing: 1px
				
			.thumb-overlay:hover
				display: block	
				opacity: 1
				background: rgba(172, 210, 135, 0.9)
				transform: scale(1.0)
				margin: 15px
		
		.thumb-unit:hover
			box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5) inset
			transform: scale(1.0)	
				
.work-container
	margin: 0px auto
	max-width: 700px
	display: none
	position: relative
	
	.svg-proj-1
		width: 690px
		margin-bottom: 20px

	.logo-marshmallow
		text-align: center
		margin: auto


	.img-proj-1, .img-proj-3, .img-proj-4, img-proj-5, .img-proj-6
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		
		.img-proj-6,
			margin-bottom: 8px
	
	.img-proj-4-wrap
		margin-bottom: 10px
		display: flex
		flex-wrap: wrap
		justify-content: space-around
	
		.img-proj-4-1
			float: left			
			.img-3
				margin-bottom: 16px
				
		.img-proj-4-2
			position: relative
			float: right
						
	h4
		color: #acd287
		text-align: center
		margin-bottom: 25px
		letter-spacing: 1px
		font:
			size: 19px
			family: 'Lato', sans-serif
			weight: 300
	
	.img
		max-width: 100%
		max-heigth: 100%
		margin-bottom: 10px
		
	p
		color: #4d4d4d
		margin: 20px auto 40px auto
		line-height: 23px
		text-align: center
		font:
			size: 16px
			family: 'Lato', sans-serif
			weight: 300
			
	.work-return2
		text-align: left
		cursor: pointer
		width: 25px
		position: absolute
		left: 30%
		top: -0.5%
		
		
		transition: all .2s ease-in-out
						
	.work-return2:hover
		transform: scale(1.2)
	
	.work-return
		margin: 40px auto 40px auto
		width: 45px
		cursor: pointer
		transition: all .2s ease-in-out
					
	.work-return:hover
		transform: scale(1.2)
		
@media (max-width: 450px)
	.thumb-wrap	
		width: 50%
		height: 100%
		float: left
	
		.thumb-container
			max-width: 700px
			padding: 0px 5px 5px 5px
	
			.thumb-unit
				margin: 0px auto 10px auto
				width: 150px
				height: 150px
				border-radius: 150px
				cursor: pointer
				text-align: center
				box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.5) inset
				opacity: 1
						
				.thumb-overlay
					cursor: pointer
					width: 120px
					height: 120px
					border-radius: 150px
					text-align: center
					display: inline-block
					margin-top: 15px
					opacity: 1

				
					span
						text:
							transform: uppercase
							align: center					
						font:
							size: 25px
							family: 'Lato', sans-serif
							weight: 700
						line-height: 1
						color: rgba(255, 255, 255, 0.8)
						display: inline-block
						padding: 50% 50% 20% 0% 
						letter-spacing: 1px
						opacity: 0
						
				.thumb-overlay:hover
					background: none
					transform: scale(0.9)
					margin: 15px
					
							
@media (max-width: 430px)
	.work-container
		padding: 0px 7px 0px 7px
		
		
		.svg-proj-1
			max-width: 420px
			margin-bottom: 10px
					
		.logo-marshmallow
			text-align: center
			margin: auto
	
	
		.img-proj-1, .img-proj-3, .img-proj-4, img-proj-5, .img-proj-6
			display: flex
			flex-wrap: wrap
			justify-content: space-around
			
			.img-proj-6,
				margin-bottom: 8px
				
		
		.img-proj-4-wrap
			margin-bottom: 10px
			display: flex
			flex-wrap: wrap
			justify-content: space-around
		
			.img-proj-4-1
				float: left			
				.img-3
					margin-bottom: 16px
					
			.img-proj-4-2
				position: relative
				float: right
								
		.img
			max-width: 80%
			max-heigth: 80%
			margin-bottom: 10px
							
		.work-return2
			opacity: 0